<div class="header">

    <div class="section-heading">
        <h2>What Is Wanderlust?</h2>
    </div>

<div class="row">

    <div class="col-md-6">

        <div class="section-heading-info">
            <h3><i><b>Wanderlust</b></i> is a very strong <b>desire</b> to travel.</h3>
            <h3><i><b>Wanderlust</b></i> is someone who, just after returning home from a trip, immediately starts planning their next one.</h3>
            <br><br>
            <br><br>
            <a href="https://www.leaderclasses.com/career-excellence-leadership-program"class="button-login">Login</a>
            <a href="https://www.leaderclasses.com/career-excellence-leadership-program"class="button-signup">Sign Up</a>

        </div>
        


    </div>

    <div class="col-md-6">

        <img class="logoimage" src="../../assets/images/BgWlogoWander.png" alt="">


    </div>

</div>

</div>
