<div class="header">

    <div class="section-heading">
        <p id="callmain">What Is Wanderlust?</p>
    </div>

<div class="row">

    <div class="col-md-6">

        <div class="section-heading-info">
            <h3><i><b>Wanderlust</b></i> is a very strong <b>desire</b> to travel.</h3>
            <h3><i><b>Wanderlust</b></i> is someone who, just after returning home from a trip, immediately starts planning their next one.</h3>
            <br><br>
            <img class="img-fluid" id="section-image" src="../../assets/images/BgWlogoWander.png" alt="BgWlogoWander">
            <br><br>
            <a href="#"class="button-login">Login</a>
            <a href="#"class="button-signup">Sign Up</a>

        </div>
        


    </div>

    <div class="col-md-6">

        <img class="logoimage" src="../../assets/images/BgWlogoWander.png" alt="BgWlogoWander">


    </div>

</div>

</div>
