<div class="header" id="home">

    <div class="section-heading">
        <p id="callmain">What Is Wanderlust?</p>
    </div>
  
  <div class="row">
  
    <div class="col-md-6">
  
        <div class="section-heading-info">
            <h3><i><b>Wanderlust</b></i> is a very strong <b>desire</b> to travel.</h3>
            <h3><i><b>Wanderlust</b></i> is someone who, just after returning home from a trip, immediately starts planning their next one.</h3>
            <br>
            <img class="img-fluid" id="section-image" src="https://github.com/vikironi/thewanderluststories/blob/master/src/assets/images/BgWlogoWander.png?raw=true" alt="BgWlogoWander">
            <br>
  
        </div>
        
  
  
    </div>
  
    <div class="col-md-6">
  
        <img class="logoimage" src="https://github.com/vikironi/thewanderluststories/blob/master/src/assets/images/BgWlogoWander.png?raw=true" alt="BgWlogoWander">
  
  
    </div>
  
  </div>
  
  </div>
  