.header{
    padding: 10px 20px 0 20px;
}

#section-image{
    display: none;
}



.section-heading{
    text-align: center;
    font-family: rofi;
}
.section-heading h2{
    font-size: 65px;
}
.section-heading-info{
    text-align: center;
}
.col-md-6{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
img{
    height: 410px;
    padding: 0 15px;
}

#callmain{
    font-size: 75px;
    color: white;
}
h3{
    color: white;
}





  @media only screen and (max-width: 768px) {
    #section-image{
        display: inline-block;
    }    
    .logoimage{
        display: none;
    }
    #callmain{
        font-size: 50px;
    }
    h3{
        font-size: medium;
    }
    


  }


@media only screen and (max-width: 400px) {
    #section-image{
        display: inline-block;
    }
    .logoimage{
        display: none;
    }

    #callmain{
        font-size: 50px;
    }
    h3{
        font-size: medium;
    }


}



 
