.navbar.sticky-top.navbar-expand-lg{
    background: black;
}

.navbar-brand{
    text-decoration: none;
    font-size:50px;
    font-family: rofi;
    color: white;
}

.navbar-toggler{
    outline: none;
    color: white;
    padding-bottom: 10px;
}
.fa.fa-bars{
    font-size: 35px;
}

.nav-link
{
    font-size: 25px;
    color: white;
    font-family: aladin;
    margin: 10px;
} 
.nav-item.disabled{
    text-decoration: line-through;
}

.nav-link.active{
    border-radius: 35px;
    background: #ff8300;
    color: black;
    padding: 5px 10px;
    box-shadow: 0 0 50px #ff8300;
    transition-delay: 0.5s;
}


@media only screen and (max-width: 768px) {
    .nav-item{
        border: white 2px solid;
        border-radius: 25px;
        margin: 5px;
        text-align: center;
    }
    

  }


@media only screen and (max-width: 400px) {
    .navbar-brand{
        font-size: 30px;
    }
    .nav-item{
        /* border: #39ff14 2px solid; */
        border: white 2px solid;
        border-radius: 25px;
        margin: 5px;
        text-align: center;
    }

}






































