<div class="gallery">
    <div class="img-container">
        <img 
        src="./../../assets/images/Gallery/preview/bike1-preview.png" 
        alt="This is bike image"
        data-original="bike1.png">
    </div>
    <div class="img-container">
        <img 
        src="./../../assets/images/Gallery/preview/bike2-preview.png" 
        alt="This is bike image"
        data-original="bike2.png">
    </div>
    <div class="img-container">
        <img 
        src="./../../assets/images/Gallery/preview/bike3-preview.png" 
        alt="This is bike image"
        data-original="bike3.png">
    </div>
    <div class="img-container">
        <img 
        src="./../../assets/images/Gallery/preview/billi1-preview.png" 
        alt="This is Billi image"
        data-original="billi1.png">
    </div>
</div>

<div class="modal1">
    <img src="./../../assets/images/Gallery/full/bike1.jpg" alt="" class="full-img1"> 
    <p class="caption1"> HI AM VIKRAM THE KING</p>
</div>
