



/*************************/
/*     00. Fonts     */
/*************************/
@font-face {
    font-family: rofi;
    src: url("./assets/fonts/RofiTaste.ttf");
}

@font-face {
  font-family: aladin;
  src: url("./assets/fonts/Aladin.ttf");
}

@font-face {
  font-family: font;
  src: url("./assets/fonts/fontawesome-webfont.ttf");
}

@font-face {
  font-family: vfont;
  src: url("./assets/fonts/VosterFont.ttf");
}





body{
  margin: 0px;
  padding: 0px;
  z-index: -1;
  box-sizing: border-box;
  background: black;
}

/*************************/
/*     01. Preloader     */
/*************************/
.loader{
  position: fixed;
	z-index: 999999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
  background: #000;
  color: white;
}

.preload{
  position: absolute;
  top: 45%; /* centers the loading animation vertically one the screen */
	left: 48%; /* centers the loading animation horizontally one the screen */
	width: 3.75rem;
	height: 1.25rem;
	margin: -0.625rem 0 0 -1.875rem; /* is width and height divided by two */ 
	text-align: center;
}
.preload {
    border: 16px solid #000;
    border-radius: 50%;
    border-top: 16px solid white;
    border-bottom: 16px solid white;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    transition: all ease 0.5s;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg);
    }
    100% { transform: rotate(360deg);
    }
  }

  .loader-finish{
      opacity: 0;
      pointer-events: none;
  }